<script type="text/javascript">var id = 1;</script>
<section id="content">
<div id="mac-address">
	<input id="mac-field" type="text" placeholder="Enter MAC address" />&nbsp;
	<button id="track">Follow</button>&nbsp;
	<button id="all">View All</button>
</div>
<div id="last-mac"></div>

<div class="small">
	<span class="bold">Clients in the wrong place?</span> 
	Make sure your APs are placed properly in Dashboard.
</div>

<div id="map-wrapper">
	<div id="map-canvas"></div>
</div>
</section>
